# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
#Pods/

BannerView/Podfile.lock

BannerView/Pods/Headers/Private/SDWebImage/NSData+ImageContentType.h

BannerView/Pods/Headers/Private/SDWebImage/SDImageCache.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImageCompat.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImageDecoder.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImageDownloader.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImageDownloaderOperation.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImageManager.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImageOperation.h

BannerView/Pods/Headers/Private/SDWebImage/SDWebImagePrefetcher.h

BannerView/Pods/Headers/Private/SDWebImage/UIButton+WebCache.h

BannerView/Pods/Headers/Private/SDWebImage/UIImage+GIF.h

BannerView/Pods/Headers/Private/SDWebImage/UIImage+MultiFormat.h

BannerView/Pods/Headers/Private/SDWebImage/UIImageView+HighlightedWebCache.h

BannerView/Pods/Headers/Private/SDWebImage/UIImageView+WebCache.h

BannerView/Pods/Headers/Private/SDWebImage/UIView+WebCacheOperation.h

BannerView/Pods/Headers/Public/SDWebImage/NSData+ImageContentType.h

BannerView/Pods/Headers/Public/SDWebImage/SDImageCache.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImageCompat.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImageDecoder.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImageDownloader.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImageDownloaderOperation.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImageManager.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImageOperation.h

BannerView/Pods/Headers/Public/SDWebImage/SDWebImagePrefetcher.h

BannerView/Pods/Headers/Public/SDWebImage/UIButton+WebCache.h

BannerView/Pods/Headers/Public/SDWebImage/UIImage+GIF.h

BannerView/Pods/Headers/Public/SDWebImage/UIImage+MultiFormat.h

BannerView/Pods/Headers/Public/SDWebImage/UIImageView+HighlightedWebCache.h

BannerView/Pods/Headers/Public/SDWebImage/UIImageView+WebCache.h

BannerView/Pods/Headers/Public/SDWebImage/UIView+WebCacheOperation.h

BannerView/Pods/Manifest.lock

BannerView/Pods/Pods.xcodeproj/project.pbxproj

BannerView/Pods/SDWebImage/LICENSE

BannerView/Pods/SDWebImage/README.md

BannerView/Pods/SDWebImage/SDWebImage/NSData+ImageContentType.h

BannerView/Pods/SDWebImage/SDWebImage/NSData+ImageContentType.m

BannerView/Pods/SDWebImage/SDWebImage/SDImageCache.h

BannerView/Pods/SDWebImage/SDWebImage/SDImageCache.m

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageCompat.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageCompat.m

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageDecoder.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageDecoder.m

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageDownloader.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageDownloader.m

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.m

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageManager.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageManager.m

BannerView/Pods/SDWebImage/SDWebImage/SDWebImageOperation.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.h

BannerView/Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.m

BannerView/Pods/SDWebImage/SDWebImage/UIButton+WebCache.h

BannerView/Pods/SDWebImage/SDWebImage/UIImage+GIF.h

BannerView/Pods/SDWebImage/SDWebImage/UIButton+WebCache.m

BannerView/Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.h

BannerView/Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.m

BannerView/Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.h

BannerView/Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.m

BannerView/Pods/SDWebImage/SDWebImage/UIImageView+WebCache.h

BannerView/Pods/SDWebImage/SDWebImage/UIImage+GIF.m

BannerView/Pods/SDWebImage/SDWebImage/UIImageView+WebCache.m

BannerView/Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.m

BannerView/Pods/Target Support Files/Pods/Pods-acknowledgements.markdown

BannerView/Pods/Target Support Files/Pods/Pods-acknowledgements.plist

BannerView/Pods/Target Support Files/Pods/Pods-frameworks.sh

BannerView/Pods/Target Support Files/Pods/Pods-dummy.m

BannerView/Pods/Target Support Files/Pods/Pods-resources.sh

BannerView/Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.h

BannerView/Pods/Target Support Files/Pods/Pods.debug.xcconfig

BannerView/Pods/Target Support Files/Pods/Pods.release.xcconfig

BannerView/Pods/Target Support Files/SDWebImage/SDWebImage-dummy.m

BannerView/Pods/Target Support Files/SDWebImage/SDWebImage-prefix.pch

BannerView/Pods/Target Support Files/SDWebImage/SDWebImage.xcconfig
